{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block title %}{% endblock %}
  <!-- BIC icon -->
  <link rel="icon" type="img/css" href="{% static 'images/bicicleta.png' %}">
  <!-- OpenLayers CSS --> 
  <link href="{% static 'css/map.css' %}" rel="stylesheet" ></head>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"rel="stylesheet">
  <!-- Sidebar CSS -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
  <!-- Layerswitcher CSS -->
  <link rel="stylesheet" href="{% static 'css/ol-layerswitcher.css' %}" type="text/css"/>


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href="{% url 'index' %}" class="sidebar-title">Bike Intelligence Centre</a> </div>
      <div class="list-group list-group-flush">
        <a href="{% url 'project' %}" class="list-group-item list-group-item-action bg-light" >Proyecto</a>
        <a href="{% url 'consulta' %}" class="list-group-item list-group-item-action bg-light">Consulta</a>
        <a href="{% url 'analisis' %}" class="list-group-item list-group-item-action bg-light">Análisis</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content - all page content should be here -->
    <div id="page-content-wrapper">
	  <!-- Top Nav Bar --> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">	
        <button class="btn btn-primary" id="menu-toggle"> <img src="{% static 'images/toggle.png' %}" alt=""></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>
	  <!-- /#top-nav-bar -->
	
      <div class="container-fluid">
    <!-- CONTENT -->
    {% block content %}{% endblock %}
    <!-- /CONTENT-->
    <!-- MAP area --> 
    {% block map %}{% endblock %}
    <!-- /#MAP area -->
    <!-- After Map --> 
    {% block aftermap %}{% endblock %}  
    <!-- /#After Map-->
      </div>
    </div>
    <!-- /#page-content-wrapper -->

  </div>
  <!-- /#wrapper -->

  <!-- FOOTER -->
  <!-- from https://bootsnipp.com/snippets/lVKrG -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <section class="footers bg-light pt-5 pb-3">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
              <div class="footers-logo">
                <!-- LOGO BIC o DeustoTech o Bizkaia o ambos -->
                  <img src="{% static 'images/morelab.jpg' %}" alt="Logo" style="width:120px;">
              </div>
              <div class="footers-info mt-3">
                  <p>Cras sociis natoque penatibus et magnis Lorem Ipsum tells about the compmany right now the best.</p>
              </div>
              <div class="social-icons"> 
                  <a href="https://www.facebook.com/"><i id="social-fb" class="fa fa-facebook-square fa-2x social"></i></a>
                  <a href="https://twitter.com/"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
                <a href="https://plus.google.com/"><i id="social-gp" class="fa fa-google-plus-square fa-2x social"></i></a>
                <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
              <h5>Essentials </h5>
              <ul class="list-unstyled">
            <li><a href="maintenance.html">Search</a></li>
            <li><a href="contact.html">Sell your Car</a></li>
            <li><a href="about.html">Advertise with us</a></li>
            <li><a href="about.html">Dealers Portal</a></li>
            <li><a href="about.html">Post Requirements</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
              <h5>Information </h5>
              <ul class="list-unstyled">
            <li><a href="maintenance.html">Register Now</a></li>
            <li><a href="contact.html">Advice</a></li>
            <li><a href="about.html">Videos</a></li>
            <li><a href="about.html">Blog</a></li>
            <li><a href="about.html">Services</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
              <h5>Explore </h5>
              <ul class="list-unstyled">
            <li><a href="maintenance.html">News</a></li>
            <li><a href="contact.html">Sitemap</a></li>
            <li><a href="about.html">Testimonials</a></li>
            <li><a href="about.html">Feedbacks</a></li>
            <li><a href="about.html">User Agreement</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
              <h5>Company </h5>
              <ul class="list-unstyled">
            <li><a href="maintenance.html">Career</a></li>
            <li><a href="about.html">For Parters</a></li>
            <li><a href="about.html">Terms</a></li>
            <li><a href="about.html">Policy</a></li>
            <li><a href="contact.html">Contact Us</a></li>
            </ul>
          </div>
          
        </div>
    </div>
  </section>
  <!-- LEGAL DISCLAIMER -->
  <section class="disclaimer bg-light border">
      <div class="container">
          <div class="row ">
              <div class="col-md-12 py-2">
                  <small>
                    Disclaimer: Element Limited is only an intermediary offering its platform to facilitate the transactions between Seller and Customer/Buyer/User and is not and cannot be a party to or control in any manner any transactions between the Seller and the Customer/Buyer/User. All the offers and discounts on this Website have been extended by various Builder(s)/Developer(s) who have advertised their products. Element is only communicating the offers and not selling or rendering any of those products or services. It neither warrants nor is it making any representations with respect to offer(s) made on the site. Element Limited shall neither be responsible nor liable to mediate or resolve any disputes or disagreements between the Customer/Buyer/User and the Seller and both Seller and Customer/Buyer/User shall settle all such disputes without involving Element Limited in any manner.
                </small>
              </div>
          </div>
      </div>
  </section>
  <section class="copyright border">
      <div class="container">
          <div class="row text-center">
              <div class="col-md-12 pt-3">
                  <p class="text-muted">© 2021 Ander Eguiluz, DeustoTech</p>
              </div>
          </div>
      </div>
  </section>
  <!-- /LEGAL DISCLAIMER -->
  <!-- /FOOTER -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- /SCRIPTS -->
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>