{% load static %}
<!DOCTYPE html>
<html lang="en" style="max-height: 2000px">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  {% block title %}{% endblock %}
  <!-- BIC icon -->
  <link rel="icon" type="img/css" href="{% static 'images/bicicleta.png' %}">
  <!-- OpenLayers CSS --> 
  <link href="{% static 'css/map.css' %}" rel="stylesheet" ></head>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"rel="stylesheet">
  <!-- Sidebar CSS -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
  <!-- Layerswitcher CSS -->
  <link rel="stylesheet" href="{% static 'css/ol-layerswitcher.css' %}" type="text/css"/>


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href="{% url 'index' %}" class="sidebar-title">Bike Intelligence Centre</a> </div>
      <div class="list-group list-group-flush">
        <a href="{% url 'project' %}" class="list-group-item list-group-item-action bg-light" >Proyecto</a>
        <a href="{% url 'consulta' %}" class="list-group-item list-group-item-action bg-light">Consulta</a>
        <a href="{% url 'analisis' %}" class="list-group-item list-group-item-action bg-light">Análisis</a>
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content - all page content should be here -->
    <div id="page-content-wrapper">
	  <!-- Top Nav Bar --> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">	
        <button class="btn btn-primary" id="menu-toggle"> <img src="{% static 'images/toggle.png' %}" alt=""></button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="{% static 'images/bicicleta.png' %}" class="pl-4" style="max-height:70px;max-width:70px ;" alt="bici_logo">
        <div class="pl-4">
          {% block section_title %}{% endblock %}
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'index' %}">Datacentre <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="api">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Configuración</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /#top-nav-bar -->	
      <div class="container-fluid" style="height:75%">
        <!-- CONTENT -->
        {% block content %}{% endblock %}
        <!-- /CONTENT-->
        <!-- MAP area --> 
        {% block map %}{% endblock %}
        <!-- /#MAP area -->
        <!-- Info de Features -->
        <div id="info">&nbsp;</div>
        <!-- Popups -->
        <!-- https://openlayers.org/en/latest/examples/overlay.html --> 
        <div style="display: none;">
          <!-- Clickable label for Bilbao -->
          <a class="overlay" id="bilbao" target="_blank" href="http://en.wikipedia.org/wiki/Bilbao">Bilbao</a>
          <div id="marker" title="Marker"></div>
          <!-- Popup -->
          <div id="popup" style="min-width: 280;" title="Información Feature"></div>
        </div>
        <!-- /Popups-->
        <!-- After Map --> 
        {% block aftermap %}{% endblock %}  
        <!-- /#After Map-->
      </div>
    </div>
  <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- FOOTER -->
  <!-- from https://bootsnipp.com/snippets/lVKrG -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <section class="footers bg-light pt-5 pb-3">
    <div class="container pt-5">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 footers-one">
              <div class="footers-logo">
                <!-- LOGO BIC o DeustoTech o Bizkaia o ambos -->
                <a href=https://morelab.deusto.es>
                  <img src="{% static 'images/morelab.jpg' %}"  alt="LogoMorelab" style="width:120px;">                
                </a>
                <a href=https://web.bizkaia.eus/es/web/guest/inicio>
                  <img src="{% static 'images/bizkaia_logo.png' %}"  alt="LogoBizkaia" style="width:120px;">
                </a>  
              </div>
              <div class="footers-info mt-3">
                  <p>MORElab: contributing to a better world through ICT</p>
                  <small>Av. de las Universidades 24, Universidad de Deusto, Deustotech</small>
              </div>
              <div class="social-icons"> 
                  <a href="https://twitter.com/deustoMORElab"><i id="social-tw" class="fa fa-twitter-square fa-2x social"></i></a>
                  <a href="mailto:ander.eguiluz@opendeusto.es"><i id="social-em" class="fa fa-envelope-square fa-2x social"></i></a>
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-four">
            <h5>GH Repos </h5>
            <ul class="list-unstyled">
              <li><a href="https://github.com/eguiwow/BIC/">BIC</a></li>
              <li><a href="https://github.com/fablabbcn/smartcitizen-kit-21">Smart Citizen Kit 2.1</a></li>
              <li><a href="https://github.com/openlayers/openlayers">OpenLayers</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-five">
            <h5>Tools </h5>
            <ul class="list-unstyled">
              <li><a href="https://docs.djangoproject.com/en/3.2/ref/contrib/gis/">GeoDjango</a></li>
              <li><a href="https://postgis.net/">Postgres-PostGIS</a></li>
              <li><a href="https://openlayers.org/">OpenLayers</a></li>
              <li><a href="https://www.python.org/">Python</a></li>
            </ul>
          </div>
          
        </div>
    </div>
  </section>
  <!-- LEGAL DISCLAIMER -->
  <section class="disclaimer bg-light border">
      <div class="container">
          <div class="row ">
              <div class="col-md-12 py-2">
                  <small>
                    Disclaimer: [Disclaimer]
                </small>
              </div>
          </div>
      </div>
  </section>
  <section class="copyright border">
      <div class="container">
          <div class="row text-center">
              <div class="col-md-12 pt-3">
                  <p class="text-muted">© 2021 Ander Eguiluz, DeustoTech</p>
              </div>
          </div>
      </div>
  </section>
  <!-- /LEGAL DISCLAIMER -->
  <!-- /FOOTER -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- /SCRIPTS -->
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>

</body>

</html>