{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en" style="max-height: 2000px">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>Bike Intelligence Centre</title>
  {% block style %}{% endblock %}
  <!-- BIC icon -->
  <link rel="icon" type="img/css" href="{% static 'images/bicicleta.png' %}">
  <!-- OpenLayers CSS --> 
  <link href="{% static 'css/map.css' %}" rel="stylesheet" ></head>
  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"rel="stylesheet">
  <!-- Sidebar CSS -->
  <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
  <!-- Layerswitcher CSS -->
  <link rel="stylesheet" href="{% static 'css/ol-layerswitcher.css' %}" type="text/css"/>


</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading"><a href="{% url 'datacentre' %}" class="sidebar-title">Bike Intelligence Centre</a> </div>
      <div class="list-group list-group-flush">
        <a href="{% url 'movilidad' %}" class="list-group-item list-group-item-action bg-light">{% translate 'Movilidad' %}</a>
        <a href="{% url 'analisis' %}" class="list-group-item list-group-item-action bg-light">{% translate 'Análisis' %}</a>
        <a href="{% url 'consulta' %}" class="list-group-item list-group-item-action bg-light">{% translate 'Consulta' %}</a>
        <a href="{% url 'proyecto' %}" class="list-group-item list-group-item-action bg-light">{% translate 'Proyecto' %}</a>
        {% if user.is_authenticated %}
          <i><a href="{% url 'logout' %}" class="list-group-item list-group-item-action bg-light">{% translate 'Logout' %}</a></i>
        {% else %}
          <i><a href="{% url 'login' %}" class="list-group-item list-group-item-action bg-light">{% translate 'Login' %}</a></i>
        {% endif %}
      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content - all page content should be here -->
    <div id="page-content-wrapper">
	  <!-- Top Nav Bar --> 
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">	
        <button class="btn btn-primary" id="menu-toggle"> <img src="{% static 'images/toggle.png' %}" alt=""></button>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <img src="{% static 'images/bicicleta.png' %}" class="pl-4" style="max-height:70px;max-width:70px ;" alt="bici_logo">
        <div class="pl-4">
          {% block section_title %}{% endblock %}
        </div>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="{% url 'datacentre' %}">Datacentre </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="api">API</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url 'config' %}">{% translate 'Configuración' %}</a>
            </li>
            <li class="nav-item">
              <strong class="navbar-text">|</strong>
            </li>
            <li class="nav-item">
              <a onclick="changeLanguage(this)" name="en" class="nav-link">EN</a>
            </li>
            <li class="nav-item">
              <a onclick="changeLanguage(this)" name="es" class="nav-link">ES</a>
            </li>
            <li class="nav-item">
              <a onclick="changeLanguage(this)" name="eu" class="nav-link">EU</a>
            </li>
          </ul>
        </div>
      </nav>
      <!-- /#top-nav-bar -->	
      <div class="container-fluid" style="height:75%">
        <!-- CONTENT -->
        {% block content %}{% endblock %}
        <!-- /CONTENT-->
        <!-- MAP area --> 
        {% block map %}{% endblock %}
        <!-- /#MAP area -->
        <!-- Info de Features -->
        <div id="info">&nbsp;</div>
        <!-- Popups -->
        <!-- https://openlayers.org/en/latest/examples/overlay.html --> 
        <div style="display: none;">
          <!-- Clickable label for Bilbao -->
          <a class="overlay" id="bilbao" target="_blank" href="http://en.wikipedia.org/wiki/Bilbao">Bilbao</a>
          <div id="marker" title="Marker"></div>
          <!-- Popup -->
          <div id="popup" title="Información Feature"></div>
        </div>
        <!-- /Popups-->
        <!-- After Map --> 
        {% block aftermap %}{% endblock %}  
        <!-- /#After Map-->
      </div>
    </div>
  <!-- /#page-content-wrapper -->
  </div>
  <!-- /#wrapper -->

  <!-- FOOTER -->
  <!-- from https://bootsnipp.com/snippets/lVKrG -->
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-T8Gy5hrqNKT+hzMclPo118YTQO6cYprQmhrYwIiQ/3axmI1hQomh7Ud2hPOy8SP1" crossorigin="anonymous">
  <section class="footers bg-light pt-5 pb-3">
    <div class="container pt-5">
        <div class="row">
          <div class="col-xs-14 col-sm-8 col-md-6 footers-one">
            <div class="footers-logo">
              <a href=https://morelab.deusto.es>
                <img src="{% static 'images/morelab.jpg' %}"  alt="LogoMorelab" style="width:120px;">                
              </a>
              <a href=https://web.bizkaia.eus/es/web/guest/inicio>
                <img src="{% static 'images/bizkaia_logo.png' %}"  alt="LogoBizkaia" style="width:120px;">
              </a>  
            </div>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-two">
            <h5>GH Repos </h5>
            <ul class="list-unstyled">
              <li><a href="https://github.com/eguiwow/BIC/">BIC</a></li>
              <li><a href="https://github.com/fablabbcn/smartcitizen-kit-21">Smart Citizen Kit 2.1</a></li>
              <li><a href="https://github.com/openlayers/openlayers">OpenLayers</a></li>
            </ul>
          </div>
          <div class="col-xs-12 col-sm-6 col-md-2 footers-three">
            <h5>Tools </h5>
            <ul class="list-unstyled">
              <li><a href="https://docs.djangoproject.com/en/3.2/ref/contrib/gis/">GeoDjango</a></li>
              <li><a href="https://postgis.net/">Postgres-PostGIS</a></li>
              <li><a href="https://openlayers.org/">OpenLayers</a></li>
              <li><a href="https://www.python.org/">Python</a></li>
            </ul>
          </div>
          
        </div>
    </div>
  </section>
  <!-- LEGAL DISCLAIMER -->
  <section class="disclaimer bg-light border">
      <div class="container">
          <div class="row ">
              <div class="col-md-12 py-2">
                  <small>
                    Disclaimer: Bike Intelligence Centre is open source and its use is completely available with the appropriate attributions to the author
                </small>
              </div>
          </div>
      </div>
  </section>
  <section class="copyright border">
      <div class="container">
          <div class="row text-center">
              <div class="col-md-12 pt-3">
                  <p class="text-muted">© 2021 Ander Eguiluz, DeustoTech</p>
              </div>
          </div>
      </div>
  </section>
  <!-- /LEGAL DISCLAIMER -->
  <!-- /FOOTER -->

  <!-- SCRIPTS -->
  <!-- JQuery -->
  <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <!-- /SCRIPTS -->
  <!-- Menu Toggle Script -->
  <script>
    $("#menu-toggle").click(function(e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });
  </script>
  <script type="text/javascript">
    var languages = ["en", "es", "eu"]
    function changeLanguage(element){
      var currentURLParameters = window.location.pathname.split("/");
      if (languages.includes(currentURLParameters[1])){
        currentURLParameters[1] = element.name;
        // window.location = "http://127.0.0.1:8000" + currentURLParameters.join("/")
        window.location = currentURLParameters.join("/")
      }else{
        // window.location = "http://127.0.0.1:8000/" + element.name + currentURLParameters.join("/")
        window.location = element.name + currentURLParameters.join("/")
      }
    }
  </script>
</body>

</html>