{% extends "base.html" %}
{% load static %} 
{% load i18n %}

  {% block section_title %} <h2 class="pt-2">Bike Intelligence Centre</h2> {% endblock %}
  {% block content %}
  <div class="pt-5 pl-3 row">
    <div class="col text-center">
      <a href="{% url 'movilidad' %}"> 
      <img  src="{% static 'images/bike_lane.jpg' %}" class="" style="max-height:80%;max-width:80% ;"alt="bici_logo">
      </a>
      <p>
        <strong>{% translate 'Movilidad' %}</strong><br>
        <i><small>{% translate 'Bidegorris, desvíos, tramos frecuentes...' %}</small></i>
      </p>
    </div>
    <div class="col text-center">
      <a href="{% url 'analisis' %}"> 
        <img  src="{% static 'images/bike_forest.jpg' %}" style="max-height:80%;max-width:80% ;" alt="bici_logo">
      </a>
      <p>
        <strong>{% translate 'Calidad ambiental' %}</strong><br>
        <i><small>{% translate 'Contaminación atmosférica y acústica, temperatura...' %}</small></i>
      </p>
    </div>
    <div class="col text-center">
      <a href="{% url 'consulta' %}"> 
        <img  src="{% static 'images/consulta.jpg' %}" class="" style="max-height:80%;max-width:80% ;" alt="bici_logo">
      </a>
      <p><strong>{% translate 'Consulta' %}</strong><br>
      <i><small>{% translate 'Consulta la actividad en Bizkaia' %}</small></i></p>
    </div>
  </div>
  <div class="pt-5 pl-3 row">
    <div class="col text-center">
      <a href="{% url 'proyecto' %}"> 
        <img  src="{% static 'images/bic_ejemplo.png' %}" class="" style="max-height:80%;max-width:80% ;" alt="bici_logo">
      </a>
      <p><strong>{% translate 'Proyecto' %}</strong><br>
      <i><small>{% translate 'Conoce más sobre el proyecto' %}</small></i></p>
    </div>
    <div class="col text-center">
      <a href="api"> 
        <img  src="{% static 'images/api.jpg' %}" class="" style="max-height:80%;max-width:80% ;"alt="bici_logo">
      </a>
      <p><strong>API</strong><br>
      <i><small>{% translate 'Visita y prueba nuestra API' %}</small></i></p>
    </div>
    <div class="col text-center">
      <a href="{% url 'config' %}"> 
        <img  src="{% static 'images/config_gear.jpg' %}" class="" style="max-height:80%;max-width:80% ;" alt="bici_logo">
      </a>
      <p><strong>{% translate 'Configuración' %}</strong><br>
      <i><small>{% translate 'Configuración de parámetros del datacentre' %}</small></i></p>
    </div>
  </div>
  {% endblock %}
  {% block aftermap %}

  <!-- Zona Variables ocultas -->
  <var id="zoom" hidden> {{zoom}} </var>
  <var id="center" hidden> {{center}} </var>
  <var id="json_tracks" hidden> {{gj_tracks}} </var>
  <var id="json_dtours" hidden> {{gj_dtours}} </var>
  <var id="json_bidegorris" hidden> {{gj_bidegorris}} </var>
  <!-- /Zona Variables ocultas -->
  <div class="col text-center">

  </div>
  <script src="{% static 'js/map.js' %}"></script>        
  {% endblock %}