{% extends "base.html" %}
{% load static %} 

  {% block title %}
  <title>Bike Intelligence Centre</title>
  <style>#map {
      width: 100%;
      height: 500px; /*TODO poner la altura en porcentaje (ahora si cambiamos peta) */
    }</style>
  {% endblock %}
  {% block content %}
  <h1> Dtours en Bizkaia </h1>  
  {% endblock %}
  {% block map %}
  <div id="map"></div>
  <!-- Info de Features -->
  <div id="info">&nbsp;</div>
  <!-- Zona Variables ocultas -->
  <var id="zoom" hidden> {{zoom}} </var>
  <var id="center" hidden> {{center}} </var>
  <var id="json_tracks" hidden> {{gj_tracks}} </var>
  <var id="json_dtours" hidden> {{gj_dtours}} </var>
  <var id="json_bidegorris" hidden> {{gj_bidegorris}} </var>

  <!-- /Zona Variables ocultas -->
  <!-- Zona archivos -->
  <div class="botonesRapidos">
    <button class="botonDebug" id="debugButton"> Debug </button>
    <button class="botonCentrar" id="centerButton"> Centrar </button>
  </div>
  <div class="archivos"></div>
   <h3> Nombres archivos geojson</h3>
    {% if gj_tracks %}
    {{ gj_tracks }}
    {% else %}
      <p> NO se han pasado los GeoJSON </p>     
    {% endif %}
    <!-- <h3> Nombres archivos geojson (dtours)</h3>
    {% if gj_dtours %}
    {{ gj_dtours }}
    {% else %}
      <p> NO se han pasado los GeoJSON (buffers)</p>     
    {% endif %} -->
  </div>
  <!-- /Zona archivos -->
  <script src="{% static 'js/map.js' %}"></script>        
  {% endblock %}
  {% block aftermap %}
  {% endblock %}

