{% extends "base.html" %}
{% load static %} 
{% load i18n %}

  {% block section_title %} <h2 class="pt-2">{% translate 'Proyecto' %}</h2> {% endblock %}
  {% block content %}
  <div class="pt-5 pl-5 row">
    <div class="col-8 text-justify">
      <h3> Bike Intelligence Centre [BIC] </h3>
      <p> El Bike Intelligence Centre o BIC, es una plataforma de monitorización de datos de movilidad y calidad ambiental recogidos en los desplazamientos urbanos en bicicleta. Para recoger estos datos se vale del BID y de fuentes oficiales como administraciones públicas.</p>
      <p> A comienzos de 2021 la Diputación Foral de Bizkaia constituyó una alianza con la Universidad de Deusto, el fabricante de bicicletas Orbea y el Consorcio de Transportes de Bizkaia para fomentar la movilidad en bicicleta y conseguir una afición totalmente implicada en construir un territorios más sostenible haciendo uso de la bicicleta. </p>
      <p> En línea con los retos que plantean el cambio climático y el cumplimiento de los objetivos de emisiones nulas para 2050, el Bizkaia Bike Intelligence Centre quiere ayudar a conseguir que cada vez más ciudadanos se animen a usar las dos ruedas.</p>
    </div>
    <div class="col">
      <img  src="{% static 'images/bic_ejemplo.png' %}" style="max-height:200px;max-width:250px ;" alt="bic_ejemplo">
    </div>
  </div>  
  <div class="pt-5 pl-5 row">
    <div class="col-8 text-justify">
      <h3> Bike Intelligence Device [BID] </h3>
      <p> El Bike Intelligence Device o BID, es el dispositivo encargado de recoger los datos de movilidad y calidad ambientales que luego procesa el BIC. </p>
      <p> Se basa en el dispositivo hardware Smart Citizen Kit, desarrollado por el equipo del Fablab de Barcelona al que se le ha añadido un GPS para dotarle de capacidad de posicionamiento espacial de los datos. </p>
      <p> </p>
    </div>
    <div class="col">
      <img  src="{% static 'images/bicicleta.png' %}" style="max-height:70px;max-width:70px ;" alt="bici_logo">
    </div>
  </div>  
  <div class="pt-5 pl-5 row">
    <div class="col">
    </div>
    <div class="col-8 text-justify">
      <h3> ¿Cómo funciona? </h3>
      <p> La plataforma recoge la información de distintas fuentes, los datos del BID los recoge de los servidores de Smart Citizen. Tras un tratamiento preliminar, se pueden consultar y visualizar en la plataforma. </p>
      <img  src="{% static 'images/flujo_bueno.jpg' %}" style="max-height:450px;max-width:558px ;" alt="flujo_proyecto">
    </div>
  </div>  
  <div class="pt-5 pl-5 row">
    <div class="col">
      <img  src="{% static 'images/open_source.jpeg' %}" style="max-height:200px;max-width:250px;" alt="bici_logo">
    </div>
    <div class="col-8 text-justify">
      <h3> Compromiso open-source </h3>
      <p> Uno de los compromisos más importantes de este proyecto, es su vocación open source. El software open source es accesible, ejecutable y modificable de manera libre y gratuita. Su naturaleza también lo hace colaborativo y abierto.</p>
      <p> Creemos que las herramientas software y hardware que utilizan las administraciones públicas para fomentar un comportamiento sostenible, deben de ser abiertas y accesibles a los ciudadanos, para que estos puedan contribuir en el desarrollo y el perfeccionamiento de las mismas. Además, estos ciudadanos pueden también ayudar a generar datos de valor con los que contribuir al impulso de la ciencia ciudadana.</p>
      <p> Todas las herramientas utilizadas en este proyecto han sido de software open source </p>
    </div>
  </div>  

  {% endblock %}

