asgiref==3.3.1
certifi==2020.12.5
chardet==4.0.0
Django==3.1.6
djangorestframework==3.12.4
GDAL==2.2.3
gpx-converter==1.7.3
gpxpy==1.4.2
idna==2.10
numpy==1.19.5
pandas==1.1.5
psycopg2-binary==2.8.6
pyserial==3.5
python-dateutil==2.8.1
pytz==2021.1
requests==2.25.1
six==1.15.0
sqlparse==0.4.1
urllib3==1.26.4
